.Technology {
    /*grid-area:  article;*/
    background: rgba(255, 255, 255, 0.8);
    /*padding: 0;*/
    overflow: auto;
    height: 100vh;
    width: 100%;
    margin: 5rem 0;
    justify-content: center;
    /*position: page;*/
    box-shadow: 0 0 10px #3a4538, 0 0 40px #3b453a, 0 0 80px #3f493d;
}

::-webkit-scrollbar{
    width: 0%;
    height: 0%;
}

.infoProject {
    top: 0;
    color: #1a1212;
    text-decoration: #000000;
    padding: unset;
    margin: 1rem 0 0 0;
    font-size: calc(10px + 6 * (100vw / 1200));
}

.block3 {
    width: auto;
    height: 280vh;
    padding-top: 4%;
    padding-left: 10%;
    padding-right: 10%;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.imgss {

    background: rgba(255, 255, 255, 0.8);
    display: grid;
    border-radius: 50%;
    width: 30%;
    margin: auto 10rem;
    opacity: 0.9;
}

.text3 {
    display: grid;
    color: #f1f2f8;
    text-align: justify;
    position: center;
    justify-content: center;
    /*overflow: scroll;*/
    /*margin: 1rem 2rem 2rem 2rem;*/
}

.textProject {

    color:silver;
    /*text-align: justify;*/
    /*position: center;*/
    /*justify-content: center;*/
}

.text2 {
    display: grid;
    color: #f1f2f8;
    text-align: justify;
    position: relative;
    margin: 3rem 1rem 1rem 1rem;
    justify-content: center;
    /*overflow: scroll;*/
}
/*.bottom2 {*/
/*    margin-left: 50%;*/
/*    padding: 0;*/
/*    display: grid;*/
/*    position: relative;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    !*min-height: 100vh;*!*/
/*    !*background: #031321;*!*/
/*    font-family: Consolas;*/
/*}*/