.pageHeader {
    display: grid;
    /*grid-area: header;*/
    /*background: rgba(212, 95, 95, 0.5);*/
    /*margin: auto 5rem;*/
    width: 100vw;
    /*margin-bottom: 10px;*/
}

/*.boxes {*/
/*    font-size: calc(10px + 16 * (100vw / 1200));*/
/*    padding: 0;*/
/*    margin-bottom: 0;*/
/*    display: grid;*/
/*    position: relative;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    !*min-height: 100vh;*!*/
/*    !*background: #031321;*!*/
/*    !*font-family: Consolas;*!*/
/*    !*font-size: calc(10px + 16 * (100vw / 1200));;*!*/
/*    !*position: relative;*!*/
/*    !*display: grid;*!*/
/*    !*padding: 5% 8%;*!*/
/*    color: #8da6ce;*/
/*    !*text-transform: uppercase;*!*/
/*    letter-spacing: 2px;*/
/*    text-decoration: silver;*/
/*    transition: 0.2s;*/


/*}*/
/*.aHeader {*/
/*    font-size: calc(6px + 16 * (100vw / 1200));*/
/*    padding: 0;*/
/*    margin-bottom: 0;*/
/*    display: grid;*/
/*    position: relative;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    color: #8da6ce;*/
/*    letter-spacing: 2px;*/
/*    text-decoration: silver;*/
/*    transition: 0.2s;*/
/*}*/


/*.header:before {*/

/*}*/


.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    /*height: 80px;*/
    /*align-content: center;*/
    /*z-index: 2;*/
}

.header__logo {
    display: block;
    flex: 0 0 60px;
    margin: auto 0;
    /*border-radius: 50%;*/
    overflow: hidden;
    position: relative;

}

.header__logo img {
    max-width: 250%;
    display: block;
    /*z-index: 999;*/
}

.header__list {
    display: flex;
}

.header__list li {
    list-style: none;
    margin: 1rem 2rem 1rem 2rem;
}

.header__link {
    color: #efe3e3;
    text-transform: uppercase;
    font-size: calc(6px + 6 * (100vw / 1200));
    text-decoration: #e3d3d3;
    padding: unset;
}

.mobile {
    /*background-color: rgba(4, 42, 42, 0.9);*/
    position: inherit;
    /*border-radius: 50%;*/
    width: 15%;
    height: auto;
    /*margin: 0.9rem;*/
    /*opacity: 1.9;*/
    right: 0;

}

.header {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background: rgba(6, 16, 7, 0.8);
    box-shadow: 0 0 10px #3a4538, 0 0 40px #3b453a, 0 0 80px #3f493d;
    /*z-index: 6;*/

}

.info {
    display: grid;
    color: #efe3e3;
    text-decoration: #eee2e2;
    padding: unset;
    margin: 25px 10px 10px 20px;
    font-size: calc(10px + 6 * (100vw / 1200));
}

.menu li {
    list-style: none;
    position: relative;
}

.menu__list {
    display: flex;
    margin: auto;
}

.menu__list>li {
    margin: 0 20px 0 0;
}

.menu__list>li:hover .sub-menu__list{
    display: block;
}

.menu__link {
    display: flex;
    color: #eac6c6;

    margin: 10px auto 20px 20px;
    font-size: calc(10px + 16 * (100vw / 1200));
}

.header__burger {
    display: none;
}


    .botom {
        display: block;
        position: absolute;
        margin: 2.5rem 1rem 1rem 1rem;
        right: 1rem;
    }
    .botom {
        display: block;
        position: absolute;
        background: rgba(4, 42, 42, 0.1);
        margin: 1rem;
        width: 8%;
        height: auto;
    }



/*.menu__link:hover {*/
/*        padding: 0;*/
/*        margin-bottom: 0;*/
/*        !*font-size: calc(16px + 16 * (100vw / 1200));*!*/
/*        position: relative;*/
/*        !*justify-content: center;*!*/
/*        !*align-items: center;*!*/
/*        color: #000000;*/
/*        background: #f4f8f3;*/
/*        box-shadow: 0 0 10px #f4f8f3, 0 0 40px #f4f8f3, 0 0 80px #f4f8f3;*/
/*}*/

.sub-menu__link {
    text-decoration: #030202;
    color: #0c0e13;
    padding: 0 10px 10px 10px;
    font-size: calc(6px + 16 * (100vw / 1200));
    margin: 0 20px 0 0;
    /*justify-content: center;*/
    /*align-items: center;*/
}

.sub-menu__link:hover {
        /*font-size: calc(6px + 16 * (100vw / 1200));*/
        /*margin-bottom: 0;*/
        /*display: flex;*/
        position: relative;
        color: #141415;
        /*left: 10px;*/
        background: #11150e;
        box-shadow: 0 0 10px #b0d1e3, 0 0 40px #cad4de, 0 0 80px #c4d9ea;
        z-index: 2;
}

.sub-menu__list {
    justify-content: center;
    align-items: center;
    min-width: 150px;
    display: none;
    position: absolute;
    background: rgba(4, 42, 42, 0.0);
    left: 0;
    top: 45px;
    padding: 20px 10px 0 0;
}

.sub-menu__list>li{
    background: rgba(4, 42, 42, 0.0);
    left: 12px;
    /*justify-content: center;*/
    /*align-items: center;*/
    z-index: 3;
}

/*.aHeader:hover {*/
/*    font-size: calc(6px + 16 * (100vw / 1200));*/
/*    padding: 0;*/
/*    margin-bottom: 0;*/
/*    display: grid;*/
/*    position: relative;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    color: #255784;*/
/*    background: #2196f3;*/
/*    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3 ;*/
/*}*/



