.pageHeader {
    display: grid;
    grid-area: header;
    background: rgba(4, 42, 42, 0.5);
    padding: 1px;
}

.bottomH {
    padding: 0;
    margin-bottom: 0;
    display: grid;
    position: relative;
    justify-content: center;
    align-items: center;
    /*min-height: 100vh;*/
    /*background: #031321;*/
    font-family: Consolas;
}
.aHeader {
    font-size:1.5vw;
    position: relative;
    display: grid;
    padding: 5% 8%;
    color: #8da6ce;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: silver;
    overflow: hidden;
    transition: 0.2s;


}

.aHeader:hover {
    margin-bottom: 0;
    font-size:1.5vw;
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3 ;
}



