.mainArticle {
    /*display: grid;*/
    /*grid-area:  article;*/
    background: rgba(255, 255, 255, 0.9);
    height: 100vh;
    width: 100%;
    overflow: hidden;
    /*box-shadow: 0 0 10px #3a4538, 0 0 40px #3b453a, 0 0 80px #3f493d;*/
    margin: 5rem 0;
}

.ar {

    display: grid;
    color: #13151c;
    text-align: justify;
    position: relative;
    margin: 4rem ;
    justify-content: center;

}


::-webkit-scrollbar{
    width: 0%;
    height: 0%;
}

.boxes {

    padding: 0;
    margin-bottom: 0;
    display: grid;
    position: relative;
    justify-content: center;
    align-items: center;

    color: #181a1f;

    letter-spacing: 2px;
    text-decoration: #1d1111;
    transition: 0.2s;


}

.a {
    margin: auto;
    font-size: calc(10px + 16 * (100vw / 1200));
    position: relative;
    display: grid;
    padding: 9% 8%;
    color: #1f252a;

}

.a:hover {
    margin: auto;
    font-size: calc(10px + 16 * (100vw / 1200));
    color: #000000;
    background: #0d0d13;
    box-shadow: 0 0 10px #526376, 0 0 40px #dce8ef, 0 0 80px #e6f2f6;
}