.mainArticle {
    display: grid;
    grid-area:  article;
    background: rgba(4, 42, 42, 0.5);
    padding: 1px;
    overflow: hidden;

}

.ar {
    position: relative;
    min-height: 100%;
    flex-wrap: wrap;
    display: grid;
    max-width: 1000%;
    overflow: scroll;
}
.ar > div {
    flex-basis: calc(50% - 40px);
}

.ar::-webkit-scrollbar-button {

    background-repeat:no-repeat;
    width:0;

}

.ar::-webkit-scrollbar-track {
    background-color: #0a0d0e;
    width:0;
}

.ar::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color:#6dc0c8;
}

.ar::-webkit-scrollbar-thumb:hover{
    background-color: #0e1315;
}

.ar::-webkit-resizer{

    background-repeat:no-repeat;
    width:0;
    height:0px
}

::-webkit-scrollbar{
    width: 0%;
    height: 0%;
}

.boxes {
    font-size: calc(10px + 16 * (100vw / 1200));
    padding: 0;
    margin-bottom: 0;
    display: grid;
    position: relative;
    justify-content: center;
    align-items: center;
    /*min-height: 100vh;*/
    /*background: #031321;*/
    /*font-family: Consolas;*/
    /*font-size: calc(10px + 16 * (100vw / 1200));;*/
    /*position: relative;*/
    /*display: grid;*/
    /*padding: 5% 8%;*/
    color: #8da6ce;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
    text-decoration: silver;
    transition: 0.2s;


}

.a {
    margin: 6%;
    font-size:2vw;
    position: relative;
    display: grid;
    padding: 5% 8%;
    color: #8da6ce;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: silver;
    /*overflow: hidden;*/
    transition: 0.2s;


}

.a:hover {
    margin: 6%;
    font-size:2vw;
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3 ;
}