html, body {
  font-family: Arial, "Helvitica Neue", Helvitica, sans-serif;
  padding:0;
  margin:0;
  overflow:hidden;

  /*max-width: available;*/
}


canvas {
  /*padding:6.3rem 6rem 4rem 0;*/
  /*margin: 6.3rem 16rem 10rem 0;*/
  height: 100%;
  width: 100%;
}
div.btnbg {
  position:fixed;
  width: 100%;
  height: auto;
  left:0;
  top:0;
}



.Content {

}

.Content2 {
  display: grid;
  grid-template-areas:
          "header header header"
          "nav article ads"
          "footer footer footer";
  grid-template-rows: 20% 1fr 12%;
  grid-template-columns: 1% 90% 1%;
  grid-gap: 5%;
  height: 100vh;



}
footer, nav, div {
  padding: 0px;
  background: rgba(0, 50, 40, 0.0);
}

article {
  margin: 1rem;
}

.pageFooter {
  grid-area: footer;
  background: rgba(4, 42, 42, 0.5);
}

.mainNav {
  grid-area: nav;
}
.siteAds {
  grid-area: ads;
}
.text2 {
  display: grid;
  grid-area: article;
  margin-top: 50%;
  color: #8da6ce;
  text-align: justify;
  position: relative;
}