.Content {

}

.Content2 {
  display: grid;
  grid-template-areas:
          "header header header"
          "nav article ads"
          "footer footer footer";
  grid-template-rows: 10% 1fr 10%;
  grid-template-columns: 1% 1fr 1%;
  grid-gap: 10px;
  height: 100vh;


}
footer, article, nav, div {
  padding: 0px;
  background: rgba(0, 50, 40, 0.0);
}

.pageFooter {
  grid-area: footer;
  background: rgba(4, 42, 42, 0.5);
}

.mainNav {
  grid-area: nav;
}
.siteAds {
  grid-area: ads;
}
.text2 {
  display: grid;
  grid-area: article;
  margin-top: 50%;
  color: #8da6ce;
  text-align: justify;
  position: relative;
}